.main-app
  margin 20px
  width: 700px;
  --main-app__color #ac4545
  --main-app__spacing 20px
  --main-app__blur 0px

.main-app__title
  font-size 30px
  font-weight: normal

.main-app__title-special
  color var(--main-app__color)
  text-transform uppercase

.main-app__form-group
  display flex

.main-app__label
  display block
  height 30px
  width: 180px

.main-app__input
  margin 0
  width 200px

.main-app__image
  padding var(--main-app__spacing)
  background-color var(--main-app__color)
  filter blur(var(--main-app__blur))
